# Sensitive files that shouldn't be shared
**/.ssh

# History files
*.zsh_history
*.lesshst
*.viminfo
*.zcalc_history



# Random files I don't need to back up
*.zsh_favlist
*.bash_history
**/.local
**/.emacs.d
**/.fonts
*.zsh-update
**/awesome-terminal-fonts
*.db
*.log
**/.cache
**/.vim/.backup
**/.vim/.undo
**/.vim/.tmp

.zcompdump*
*.xsession-errors
.wakatime*
*.xinitrc
.z.*
python*
*bin
**/.emacs.d
**/nerd-fonts
*.Xauthority
*.XWinrc
/.dbus*
**/.subversion
**/.z
**/.w3m
**/.cpan
**.stackdump
